<nav class="navbar navbar-inverse bg-inverse" *ngIf="!isUserLoggedIn">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">
        {{title}}
      </a>
    </div>
  </div>
</nav>

<nav class="navbar navbar-toggleable navbar-inverse bg-inverse" *ngIf="isUserLoggedIn">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarTogglerMainMenu" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#">{{title}}</a>

  <div class="collapse navbar-collapse" id="navbarTogglerMainMenu">
    <ul class="navbar-nav mr-auto mt-2 mt-md-0">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Settings</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Links</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Logout</button>
    </form>
  </div>
</nav>
