
<app-header title="Momentz-4-ever" 
            [isUserLoggedIn]="true"></app-header>

<div class="jumbotron">
  <div class="row">
    <div style="width:40%" class="text-center">
        <h1>Hello User, your Albums: </h1>
    </div>
    <div style="width:60%">
        <span style="float:right">
            <button type="button" (click)="setView('listView')" id="listView" class="btn btn-primary btn-lg"
                style="margin: 5px; padding: 15px;">
                <span class="glyphicon glyphicon-list" data-toggle="tooltip" title="List View" aria-hidden="true"></span>
            </button>
            <button (click)="setView('gridView')" class="btn btn-primary btn-lg" id="gridView" 
                style="margin: 5px; padding: 15px;">
                <span class="glyphicon glyphicon-th" data-toggle="tooltip" title="Grid View" aria-hidden="true"></span>
            </button>
        </span>
    </div>
  </div>
</div>

<div class="container" *ngIf="currentView=='listView'">
        <table class="table table-hover">
            <thead>
                <tr class="thead-inverse">
                    <th>Title</th>
                    <th>Description</th>
                    <th>Date of Creation</th>
                    <th>Last Viewed</th>
                </tr>
            </thead>
        <tbody>
            <tr *ngFor = "let album of albums">
                <td><img src={{album.imageUrl}} style="padding:10px;margin:0 auto;width:52px;height:52px;">
                  <b>{{album.title}}</b></td>
                <td>{{album.description}}</td>
                <td>{{album.createdDate}}</td>
                <td>{{album.lastViewedOn}}</td>
            </tr>
        </tbody>
        </table>
</div>

<div *ngIf="currentView=='gridView'">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-6" *ngFor="let album of albums">
                <div class="card card-outline-primary">
                    <img class="card-img-top" style="border-bottom:1px solid;padding: 10px;margin:0 auto;width:100%;height:200px;" src={{album.imageUrl}}
                    alt="Album">
                    <div class="card-block text-center">
                        <h4 class="card-title">{{album.title}}</h4>
                        <p class="card-text">{{album.description}}</p>
                        <p class="card-text"><small class="text-muted">Created On: {{album.createdDate}}</small></p>
                        <button (click)="onViewClick(album)" class="btn btn-primary">View</button>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">Last Viewed On: {{album.lastViewedOn}} </small> 
                    </div>
                </div>
            </div>
        <div>
    </div>
</div>


