
   <app-header title="Momentz-4-ever" 
                [isUserLoggedIn]="true"></app-header>
    <br><br><br>
    <div class="container">
        <table class="table table-bordered table-hover">
            <thead>
                <tr class="thead-inverse">
                    <th>Title</th>
                    <th>Description</th>
                    <th>Image Url</th>
                    <th>Date of Creation</th>
                    <th>Last Viewed</th>
                </tr>
            </thead>
        <tbody>
            <tr *ngFor = "let album of albums">
                <td>{{album.title}}</td>
                <td>{{album.description}}</td>
                <td><a href="#">{{album.imageUrl}}</a></td>
                <td>{{album.createdDate}}</td>
                <td>{{album.lastViewedOn}}</td>
            </tr>
        </tbody>
        </table>
    </div>