<app-header title="Momentz-4-ever" ></app-header>

<div style="padding-top:.9rem;">
    <div class="card" style="width: 21rem; margin:0 auto;" >
        <img class="card-img-top" 
            style="margin:0 auto;width:100%;height:200px;"
            src="https://static.pexels.com/photos/130111/pexels-photo-130111.jpeg" 
            alt="Preserve your moments" />
        <div class="card-block" align="center">
            <h4 class="card-title">Momentz-4-ever</h4>
            <p class="card-text">Preserve your life moments in clouds...forever! </p>
            <button class="btn btn-primary"
             (click)="onLoginClick()">
            Login with Facebook
            </button>
        </div>
    </div>
</div>

